.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--color-white);
  min-height: calc(100vh - var(--margin-main-content-wrapper));
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.app-main-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - (var(--margin-main-content-wrapper) * 2 ));
  background-color: var(--color-offwhite);
  margin: var(--margin-main-content-wrapper) 0;
  border-radius: var(--borderRadius-main-content-wrapper);
  overflow: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
