.userCard-wrapper {
  display: flex;
  // border: 1px solid black;
}

.user-avatar {
  height: 50px;
  width: 50px;
  clip-path: circle(50px at center);
}

.user-info {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.userinfo-lable-name, .userinfo-lable-description { 
  margin: 0;
  flex: 1;
}

.userinfo-lable-name {  
  font-family: 'AcuminPro Bold';
  font-size: 18px;
  letter-spacing: 0.5px;
}

.userinfo-lable-description {
  color: darkgrey;
  letter-spacing: 1px;
}