.userCard-wrapper {
  display: flex;
  // border: 1px solid black;
}

.user-avatar {
  height: 50px;
  width: 50px;
}

.user-info {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.userinfo-lable { 
  margin: 0;
  flex: 1;
}