.right-sidebar {
  background-color: var(--color-white);
  width: 250px;
  height: calc(100vh - (var(--margin-top-app) * 2));
  display: flex;
  flex-direction: column;
  // align-items: center;
  // margin-top: var(--margin-top-app);
  // margin-left: 15px;
  margin: var(--margin-top-app) 15px;
}

.schedule-container {
  flex: 1;
  min-height: calc(102px*3);
  overflow: scroll;
}

.title-schedule {
  margin-bottom: 10px;
}