/*
 * Stores app sass variables
 */

// $base-color: #c6538c;
// $border-dark: rgba($base-color, 0.88);
$ColorEmerald: #2ecc71;
$ColorEmeraldDFocus: darken($ColorEmerald, 10%);
$ColorHotPink: #EF3B6A;
$ColorHotOrange: #F4554B;
$ColorWhite: #ffffff;
$ColorOffWhite: #F6F9F8;


:root {
    /*
     * Color variables
     */
    --color-cloud: #ecf0f1;
    --color-white: #{$ColorWhite};
    --color-offwhite: #{$ColorOffWhite};
    --color-emerald: #{$ColorEmerald};
    --color-emerald-dark-focus: #{$ColorEmeraldDFocus};
    --color-nephritis: #27ae60;
    --color-asbestos: #7f8c8d;
    --color-midnightblue: #2c3e50;    
    --color-hot-pink: #{$ColorHotPink};
    --color-hot-orange: #{$ColorHotOrange};

    /*
     * Spacing variables
     */
    --margin-top-app: 28px;
    --margin-main-content-wrapper: 15px;
    --borderRadius-main-content-wrapper: 25px;
    --margin-vertical-main-app-content-container: 15px;
    --margin-horizontal-main-app-content-container: calc(var(--margin-vertical-main-app-content-container) * 2)
}

