/*
 * Stores app sass variables
 */

// $base-color: #c6538c;
// $border-dark: rgba($base-color, 0.88);

:root {
    --color-cloud: #ecf0f1;
    --color-white: #ffffff;
    --color-emerald: #2ecc71;
    --color-nephritis: #27ae60;
    --color-asbestos: #7f8c8d;
    --color-midnightblue: #2c3e50;    
}

